:root {
  background: rgb(172, 119, 189);
  font-family: Zcool XiaoWei;
}
.header{
  text-align: center;
  font-size: 65px;
  font-weight: bold;
  color: rgb(248, 244, 248);
  z-index: 100;
}
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* game board table */
#board td {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: rgb(119, 189, 189);
  border: solid 1px #666;
}

/* pieces are div within game table cells: draw as colored circles */

.piece {
  /* TODO: make into circles */
  position: absolute;
  width: 80%;
  height: 80%;
  top: 10%;
  left: 10%;
  transform: translate(-50%,-50%);
  border-radius: 50%;
  border: black solid 1px;
  animation: drop 0.5s ease forwards;
  z-index: 100;
}

@keyframes drop {
  0% {
      transform: translateY(-330px);
      filter: blur(5px);
  }
  100% {
      transform: translateY(0);
  }
}

/* make pieces red/blue,  depending on player 1/2 piece */

.piece.p1{
  background-color: rgb(150, 6, 155);
}

.piece.p2{
  background-color: rgb(27, 42, 124);
}

/* column-top is table row of clickable areas for each column */

#column-top td {
  cursor: pointer;
  border: dashed 1px rgb(179, 174, 174);
  transition: all 0.2s;
  background-color: rgb(192, 243, 250);
}

#column-top td:hover {
  background-color: rgb(98, 217, 247);
}

.reset{
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: rgb(253, 250, 250);
  background-color: rgb(150, 6, 155);
  border: none;
  border-radius: 15px;
  box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
  margin: 10px 10px 10px 10px;
  z-index: 101;
}





